<!-- your html code here -->
 
<div class="container pb-3">
    <div class="Parraf">
        <h1>Contact</h1>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo curcus 
           magma, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac curcus commodo.</p>
    </div>
    <div class="card-contact">
        <form>
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"><strong>Your E-mail</strong></label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Your email">
                </div>
            </div>
            <div class="row mb-3">
                <label for="col-form-label" class="col-sm-2 col-form-label"><strong>Your Message</strong></label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="floatingTextarea" rows="3" placeholder="Please enter your message here..."></textarea>
                </div>
            </div>
            <div class="col-12 justify-content-end d-flex">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
        
           


