<!-- your html code here -->

<div class="container">
    <h1>Porfolio</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit reiciendis dolores totam eum labore maxime
        deleniti possimus nesciunt illum qui cumque corporis nostrum quo quisquam eveniet natus ea, ipsam illo!</p>
    <div class="row row-cols-3 d-flex">
        <div class="col">
            <div class="card" style="width: 26rem;">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit iusto, earum qui
                        omnis vitae nihil quod deleniti dignissimos placeat tempora accusantium cupiditate dolores alias
                        inventore illum doloremque tempore animi neque!</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 26rem;">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit iusto, earum qui
                        omnis vitae nihil quod deleniti dignissimos placeat tempora accusantium cupiditate dolores alias
                        inventore illum doloremque tempore animi neque!</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 26rem;">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit iusto, earum qui
                        omnis vitae nihil quod deleniti dignissimos placeat tempora accusantium cupiditate dolores alias
                        inventore illum doloremque tempore animi neque!</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>