<!-- your html code here -->
<div class="row">
    <div class="col-5">
        <img src="/website/assets/img/1.jpg" alt="..." width="50%" style="border-radius:50%">
    </div>
    <div class="col-7">
        <h2>The Second Heading Is Pretty Cool Too.</strong></h2>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligual porta feliseuismod samper. Praesent
            commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
       

    </div>
</div>